.assetChartContainter {
  width: 600px;
  height: 400px;
}

.main-asset-chart {
  display: flex;
  flex-direction: column;
}

.assetDetailsDiv {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}

.assetDetails {
  border: 1px solid grey;
  border-radius: 5px;
  width: 280px;
  padding: 20px;
}

.asset-detail-row {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.border-bottom {
  border-bottom: 1px solid gray;
}

.about-title, .stats-title {
  width: 100%;
  font-size: 24px;
  padding-bottom: 20px;
  border-bottom: 1px solid gray;
  margin-bottom: 20px;
}

.about-body, .stats-body{
  margin-bottom: 50px;
}

.chart-name {
  font-size: 32px;
}
.transaction-form {
  border: 1px solid grey;
  width: 275px;
  height: auto;
  margin-left: 50px;
  background-color: #1E2124;
  border-radius: 5px;
  font-size: 13px;
}

.transaction-form-selections {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

.transaction-button {
  width: 100%;
  height: 50px;
  border-radius: 5px;
  padding:15px 20px 20px 20px;
  text-align: center;
  vertical-align: center;
  border: none;
  cursor: pointer;
}

.transaction-options {
  display: flex;
  border-bottom: 1px solid gray;
  padding: 0 20px;
  cursor: pointer;
}

#buy-option, #sell-option {
  padding: 15px 5px;
  height: 100%;
}

#transaction-unit-input {
  box-sizing: border-box;
  width: 80px;
  height: 35px;
  background-color: #30363A;
  border: none;
  border-radius: 5px;
  text-align: right;
  padding: 0 12px;
  color: white;
}

#unit-value {
  width: 100px;
  // text-align: left;
  box-sizing: border-box;
  height: 35px;
  background-color: #30363A;
  border: none;
  border-radius: 5px;
  padding: 0 12px;
  color: white;
}

.value-subtitle {
  font-size: 21px;
}

#transaction-unit-input:focus, #unit-value:focus, #unit-value:enabled {
  border: 1px solid green;
}

.transaction-form-body {
  border-bottom: 1px solid gray;
  margin: 0 20px;
}

.transaction-confirmation {
  width: 100%;
  padding-bottom: 20px;
  
}

.transaction-form-buy-power {
  padding: 20px;
  text-align: center;
  width: 100%;
  border-top: 1px solid gray;
}

.complete-title {
  font-weight: 15px;
  // padding: 10px 0;
}

.complete-body {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid gray;
  padding: 20px;
}

.complete-text {
  color: gray;
  padding: 20px;
}

.complete-button {
  margin: 20px;
}

.transaction-button.greenText {
  background-color: #00C805;
  color: #1E2124;
}
.transaction-button.greenText:hover {
  background-color: rgba(38,208,43,1);
}

.transaction-button.redText {
  background-color: #FF5000;
  color: #1E2124;
}
.transaction-button.redText:hover {
  background-color: rgba(255,106,38,1);
}

.transaction-form-buy-power.greenText, .purchase-option.active.greenText{
  color: #00C805;
  
}
.transaction-form-buy-power.redText, .purchase-option.active.redText{
  color: #FF5000;
}