div {
  box-sizing: border-box;
}
.login,  .signup{
//   font-family: 'Roboto', sans-serif;
// font-family: 'Signika Negative', sans-serif;
// font-family: Arial, Helvetica, sans-serif;
  font-family: 'AvenirLTStd-Book';
  src: url('app/assets/fonts/avenir_ff/AvenirLTStd-Book.otf');
  display: flex;
  height: 100vh;
}
.login-img, .form, .name-.signup-form, .signup-sidebar {
  flex: 1 1 50%;
}

.login-title {
  font-size: 21px;
  margin: 12px 0px 36px;
}

.login-img {
  object-fit: cover;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.form {
  display: flex;
  align-items: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  font-size: 13px;
  margin-left: 52px;
  margin-right: 52px;
  line-height: 20px
}

.input-box {
  width: 282px;
  height: 36px;
  padding: 0 12px;
  margin: 0 0 8px;
  border: 1px solid lightgray;
}
input[type=text]:focus, input[type=password]:focus {
  outline: none;
}
input[type=text]:focus .input-box {
  border: 1px solid blue;
}

.login-input {
  height: 100%;
  border: none;
  padding: 0;
  background-color: transparent;
  border: none;
}

.link  {
  text-decoration: underline;
  font-weight: bolder;
  color: #000000;
  cursor: pointer;
  margin: 12px 0;
}

.login-button {
  color: white;
  background-color: black;
  width: 132px;
  height: 48px;
  // padding: 0 48px;
  border-radius: 5px;
  cursor: pointer;
}

.errors {
  margin: 12px 0;
}

.create-acc {
  margin: 25px 0 0;
}

.fas {
  
}

.forgot:hover {
  .forgot::before {

    content: 'Please sign up'
  }
}