.login {
  font-family: 'Roboto', sans-serif;
  font-family: 'Signika Negative', sans-serif;
}

.login-title {
  font-size: 21px;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
  font-size: 13px;
}


.green-feather {
  margin: auto;
  width: 64px;
  height: 64px;
}

input[type=text], input[type=password] {
  width: 225px;
  height: 34px;
}

.link  {
  text-decoration: underline;
  font-weight: bolder;
  color: #000000;
}