.portfolio, .port-nav {
  background-color: black;
  color: white;
}

.portfolio {
  height: 100vh;
}

.chart {
  margin: 5%;
}

.graph {
  border-bottom: 1px solid gray;
  margin-bottom: 20px;
}

.chartOptions span{
  padding-right: 15px;
}