.portfolio-splash, .port-nav {
  background-color: black;
  color: white;
}

.portfolio-splash {
  height: 100vh;
  width: 100%;
}

.portfolio {
  display: flex;
  width: 100%;
  margin: 5%;
}

.graph {
  margin-bottom: 20px;

}

.main-chart {
  width: 600px;
  height: 300px;
}
.chartOptions span{
  padding-right: 15px;
}

.asset-list {
 border: 1px solid grey;
 width: 275px;
 max-height: 550px;
 margin-left: 50px;
 background-color: #1E2124;
}
.asset-list p {
  box-sizing: border-box;
  padding: 20px;
  border-bottom: 1px solid grey;
  border-top: 1px solid grey;
  width: 100%;
}

.buying-power {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  padding: 20px;
  width: 100%;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}

#myChart {
  z-index: 10;
} 