.portfolio-splash, .port-nav {
  background-color: black;
  color: white;
}

.portfolio-splash {
  height: 100vh;
  width: 100%;
}

.portfolio {
  display: flex;
  width: 100%;
  margin: 5%;
}

.asset-list {
 border: 1px solid grey;
 width: 275px;
 max-height: 550px;
 margin-left: 50px;
 background-color: #1E2124;
}
.asset-list p {
  box-sizing: border-box;
  padding: 20px;
  border-bottom: 1px solid grey;
  border-top: 1px solid grey;
  width: 100%;
}

.buying-power {
  border-bottom: 1px solid gray;
}

.border-grey {
  border-top: 1px solid gray;
}
.flex-between {
  display: flex;
  justify-content: space-between;
  padding: 30px 20px 30px 0;
  width: 100%;
}

.deposit-funds, .deposit-message {
  width: 50%;
  padding: 10px 20px 10px 0;
  border-top: none;
}

.deposit-message {
  padding: 40px 20px;
}
.buying-power-div {
  margin-top: 20px;
  border-radius: 5px;
  padding: 0 20px 0 20px;
  font-size: 15px;
  transition: 2s;
}

.gray-background {
  background-color: rgb(30,33,36);
}

.deposit-button {
  width: 100%;
  background-color: #00C805;
  width: 300px;
  height: 45px;
  font-weight: bold;
  border-radius: 5px;
  border: none;
}

.hidden {
  display: none;
}