.watchlist-asset-module-div {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(11, 13, 18, 0.5);
  display: flex;
  justify-content: center;
  padding-top: 10%;
  z-index: 10;
}

.watchlist-asset-module {
  width: 400px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 20px;
  border-radius: 5px;
  background-color: #1E2124;
  
}

.list-asset-module-title {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}


.asset-module-button {
  width: 90%;
  border-radius: 5px;
  height: 50px;
  margin: 0 auto;
}


.asset-module-button.green {
  background-color: #00C805;
}

.asset-module-button.red {
  background-color: #FF5000;
}

.asset-module-button:disabled {
  background-color: gray;
}

.all-watchlists {
  max-height: 350px;
}

.mini-watchlist-input {
  display: flex;
  align-items: center;
  cursor: pointer;
}

input[type=checkbox] {
  width: 20px;
  height: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}

input[type=checkbox].green {
  border: 1px solid #00C805;
}
input[type=checkbox].red {
  border: 1px solid #FF5000;
}

input[type=checkbox]:checked.green {
  background-color: #00C805;
}
input[type=checkbox]:checked.red {
  background-color: #FF5000;
}

input[type=checkbox]:checked {
  text-align: center;
  line-height: 15px;
}

.create-new-list-div {
  padding-left: 26px;
}

#plus-icon {
  font-size: 30px;
  width: 50px;
  height: 60px;
  
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  padding: 0;
}

#plus-icon.green {
  background-color:rgba(0,200,5,0.2);
  color: #00C805;
}
#plus-icon.red {
  background-color:rgba(255,80,0,0.2);
  color: #FF5000;
}