.mini-watchlist-item {
  display: flex;
  margin: 5px 0;
  cursor: pointer;
}
.mini-watchlist-item div {
  padding-left: 10px;
}

.mini-watchlist-itemLength {
  line-height: 2;
  color: #919FA6;
  font-size: 13px;
}

.mini-item-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.mini-icon {
  font-size: 30px;
  width: 50px;
  height: 60px;
  background-color: #30363A;
  border-radius: 5px;
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.mini-watchlist-name {
  color: white;
}