.watchlist-asset-module-div {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(11, 13, 18, 0.5);
  display: flex;
  justify-content: center;
  padding-top: 10%;
  z-index: 10;
}

.watchlist-asset-module {
  width: 400px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 20px;
  border-radius: 5px;
  background-color: #1E2124;
  
}

.list-asset-module-title {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}


.asset-module-button {
  width: 90%;
  border-radius: 5px;
  height: 50px;
  margin: 0 auto;
}

.all-watchlists {
  max-height: 350px;
}

.mini-watchlist-input {
  display: flex;
  cursor: pointer;
}

.create-new-list-div {
  padding-left: 26px;
}